.top{
    background: #5A5A5A;
    font: bold;   

}

.side{
    background: #A0D468;
    height: 2000px;
    margin: 0;
    padding: 0;

}

.blue{
    background: #4B89DC;
    /* font: bold; */
    /* font: white; */
    font-weight: bold;
}

.list-group{
    text-align: center;

}

.txt{
    font-family: 'Alegreya Sans SC', sans-serif;
    font: white;
}

.fa-minus-circle{
    color: red;
}

thead{
    font-weight: bolder;
}